<dl>
  <dt>
    <h2><%= Order.model_name.human %>: <%= @order.code %></h2>
  </dt>
  <div>
    <dd>
      <strong><%= Order.human_attribute_name(:warehouse_id) %>: </strong>
      <%= link_to @order.warehouse.full_description, @order.warehouse %>
    </dd>
    <dd>
      <strong><%= Order.human_attribute_name(:supplier_id) %>: </strong>
      <%= link_to @order.supplier.full_description, @order.supplier %>
    </dd>
    <dd>
      <strong><%= Order.human_attribute_name(:user) %> responsável:  </strong>
      <%= @order.user.description %>
    </dd>
    <dd>
      <strong><%= Order.human_attribute_name(:estimated_delivery_date) %>: </strong>
      <%= I18n.localize(@order.estimated_delivery_date) %>
    </dd>
  </div>
</dl>
