<h2>Detalhes do Pedido</h2>
<dl>
  <dt>
    <h3><%= Order.model_name.human %>: <%= @order.code %></h3>
  </dt>
  <div>
    <dd>
      <strong><%= Order.human_attribute_name(:warehouse_id) %>: </strong>
      <%= link_to @order.warehouse.full_description, @order.warehouse %>
    </dd>
    <dd>
      <strong><%= Order.human_attribute_name(:supplier_id) %>: </strong>
      <%= link_to @order.supplier.full_description, @order.supplier %>
    </dd>
    <dd>
      <strong><%= Order.human_attribute_name(:user) %> responsável:  </strong>
      <%= @order.user.description %>
    </dd>
    <dd>
      <strong><%= Order.human_attribute_name(:estimated_delivery_date) %>: </strong>
      <%= I18n.localize(@order.estimated_delivery_date) %>
    </dd>
  </div>
</dl>

<div>
  <%= link_to('Editar', edit_order_path(@order.id))%>
  <br />
</div>