<dl>
  <dt>
    <h2><%= Order.model_name.human %>: <%= @order.code %></h2>
  </dt>
  <div>
    <dd>
      <strong>Galpão Destino: </strong>
      <%= link_to @order.warehouse.full_description, @order.warehouse %>
    </dd>
    <dd>
      <strong>Fornecedor: </strong>
      <%= link_to @order.supplier.full_description, @order.supplier %>
    </dd>
    <dd>
      <strong>Usuário responsável:  </strong>
      <%= @order.user.description %>
    </dd>
    <dd>
      <strong>Data Prevista de Entrega: </strong>
      <%= I18n.localize(@order.estimated_delivery_date) %>
    </dd>
  </div>
</dl>
