<h1> Mais informações do fornecedor </h1>

<dl>
  <dt>
    <h2> <%= @supplier.corporate_name %></h2>
  </dt>
  <div>
    <dd><strong>Apelido: </strong><%= @supplier.brand_name %></dd>
    <dd><strong>Número de registro: </strong><%= @supplier.registration_numbers %></dd>
    <dd><strong>Endereço: </strong><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
    <dd><strong>email: </strong><%= @supplier.email %></dd>
  </div>
</dl>

<div>
  <%= link_to('Editar', edit_supplier_path(@supplier.id))%>
  <br />
</div>

<div>
  <br />
  <%= link_to('Voltar', root_path)%>
</div>