<h1> Mais informações do fornecedor </h1>

<dl>
  <dt>
    <h2> <%= @supplier.corporate_name %></h2>
  </dt>
  <div>
    <dd><strong>Apelido: </strong><%= @supplier.brand_name %></dd>
    <dd><strong>Número de registro: </strong><%= @supplier.registration_numbers %></dd>
    <dd><strong>Endereço: </strong><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
    <dd><strong>email: </strong><%= @supplier.email %></dd>
  </div>
</dl>

<div class='editar'>
  <%= link_to('Editar', edit_supplier_path(@supplier.id))%>
  <br />
</div>
<br />
<br />

<% if @supplier.product_models.size > 0 %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>  
        <th>SKU</th>
      </tr>
    </thead>
    <tbody>
      <% @supplier.product_models.each do |product| %>
        <tr>
          <td><%= link_to product.name, product %> | </td> 
          <td><%= product.sku %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> Nenhum modelo de produto cadastrado para esse fornecedor. </p>
<% end  %>
