<h1> Mais informações do galpão </h1>

<dl>
  <dt>
    <h2> Galpão <%= @warehouse.code %></h2>
    <h4><%= @warehouse.description %></h4>
  </dt>
  <div>
    <dd><strong>Nome: </strong><%= @warehouse.name %></dd>
    <dd><strong>Cidade: </strong><%= @warehouse.city %></dd>
    <dd><strong>Estado: </strong><%= @warehouse.state %></dd>
    <dd><strong>Área: </strong><%= @warehouse.area %> m² </dd>
    <dd><strong>Endereço: </strong><%= @warehouse.address %><strong> CEP </strong><%= @warehouse.cep %> </dd>
  </div>
</dl>

<div>
  <br />
  <%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete)%>
  <br />
  <%= link_to('Editar', edit_warehouse_path(@warehouse.id))%>
  <br />
</div>

<div>
  <br />
  <%= link_to('Voltar', root_path)%>
</div>