<nav>
  <h2> Galpões & Estoque    </h2>
  <%= link_to('Home', root_path) %>   |   
  <%= link_to('Fornecedores', suppliers_path) %>   |
  <%= link_to('Modelos de Produtos', product_models_path) %>   |
  <%= link_to('Registrar Pedido', new_order_path) %>   |
  <%= link_to('Meus Pedidos', orders_path) %>   |
  <% if user_signed_in? %>
    <%= form_with(url: search_orders_path, method: :get) do |f| %>
      <%= f.label :query, 'Buscar Pedido' %>
      <%= f.text_field :query %>
      <%= f.submit 'Buscar' %>
    <% end %>
    Olá <%= current_user.description %>   |
    <%# <%= button_to('Atualizar conta', edit_user_registration_path)%> 
    <%= button_to('Sair', destroy_user_session_path, method: :delete) %>
  <% else %>  
    <%= link_to('Entrar', new_user_session_path) %>
  <% end %>
</nav> 